*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: AnandaBlack;
    src: url(./assets/fonts/AnandaBlack.ttf);
}

/* header*/
header{
    background-color: #76B3F7 ;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px 200px;
}
#liens_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
h2{
    font-family: AnandaBlack;
}
header a {
    text-decoration: none;
    color: white;
}
header a:hover{
    font-weight: bold;
}

/* jumbotron */
#jumbotron p:first-child{
    font-weight: bold;
    font-size: x-large;
}
#jumbotron{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-image: url(./assets/images/bowling_field.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 350px;
    padding-top: 60px;
}

#text_jumbotron{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.699);
    height: 70px;
    width: 500px;
    border: white 1px solid;
    padding-top: 10px;
    margin: auto;
}

#arrow{
    display: flex;
    align-self: flex-end;
    padding-bottom: 10px;
    padding-right: 20px;
    position: fixed;
}
#arrow img{
    height: 25px;
    width: 25px;
    background-color: rgb(229, 237, 245);
}

/* section nos offres */
#nos_offres{
    background-color: white;
    padding-top: 70px;
    padding-bottom: 50px;
    margin: auto;
}

#presentation_offres{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 20px;
    padding-bottom: 30px;
    width: 60%;
    margin: auto;
    text-align: center;
}
h3{
    font-size: x-large;
}
.text_bold{
    font-weight: bold;
}

.text_souligné{
    text-decoration: underline;
}
.images_jeux img{
    height: 50px;
    width: 50px;
}
.game_card_bleu { 
    background-color: #76B3F7;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: 200px;
    padding: 15px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.215);
    border-radius: 3px;
    text-align: center;
}
.game_card_rose { 
    background-color: #FF9595;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: 200px;
    padding: 15px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.215);
    border-radius: 3px;
    text-align: center;
}
.game_card_jaune { 
    background-color: #FFE572;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: 200px;
    padding: 15px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.215);
    border-radius: 3px;
    text-align: center;
}
.text_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.text_card_bas{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    
}

.container_game_card{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    max-width: 1400px;
}

/* section formulaire*/
#intro_formulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
}

.input{
    padding: 5px 0px;
}

#section_a_remplir{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80%;
    margin: auto;
}

.input input, textarea{
    width: 500px;
}

.input input{
    padding: 10px 5px;
}

#textarea textarea{
    height: 138px;
    padding: 10px 5px;
    margin-top: 5px;
}

#submit:hover{
    background-color: #3c699c;
    margin: auto;
    cursor: pointer;
}

input[type="submit"]{
    background-color: #76B3F7;
    color: white;
    padding: 10px 25px;
    border: none;
    display: block;
    margin: auto;
    border-radius: 4px;
}
#contact{
    margin-bottom: 20px;
}
#container_submit{
    margin-top: 20px;
}

/* footer */
footer{
    background-color: #76B3F7;
    color: white;
}

#disposition_footer{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 15px 0px;
}
