*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: AnandaBlack;
    src: url(./assets/fonts/AnandaBlack.ttf);
}

/* header*/
header{
    background-color: #76B3F7 ;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px 200px;
}
#liens_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
h2{
    font-family: AnandaBlack;
}
header a {
    text-decoration: none;
    color: white;
}
header a:hover{
    font-weight: bold;
}

/* jumbotron */
#jumbotron p:first-child{
    font-weight: bold;
    font-size: x-large;
}
#jumbotron{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/images/bowling_field.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 300px;

}

#text_jumbotron{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.699);
    height: 70px;
    width: 500px;
    border: white 1px solid;
    padding-top: 10px;
    margin: auto;
}

#arrow{
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    padding-bottom: 10px;
    padding-right: 20px;
    position: sticky;
}
#arrow img{
height: 20px;
width: 20px;
background-color: rgb(156, 173, 189);
}
